<div class="intro-header">
  <div class="container-fluid">
    <div>
      <div class="pull-right">
      	<a href="#" class="btn btn-warning btn-lg" ui-sref="loginPage" ng-click="logCtrl.loggedIn()">Admin Login</a>
      </div>
    </div>
  </div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="intro-message">
					<h1>Take Survey</h1>
					<h3>The surveys here are for collecting public opinion.</h3>
					<hr class="intro-divider">
					<ul class="list-inline">
						<li>
							<a href="#" class="btn btn-success btn-lg" ui-sref="viewAllSurvey">
								<i class="fa fa-pencil-square-o"></i>
								<span class="network-name">Surveys</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>