body,h1,h2,h3,h4,h5,h6{
	font-family: 'Junge', serif;
	font-weight: 700;
}

.intro-header{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background: url('https://commit-sudoku.github.io/zairyou/background1.png');
	background-size: cover;
	height: 855px;
}

.intro-message{
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1{
	margin-top: -50px;
	font-size: 5em;
	color: rgba(50,205,50,0.7);
}

.intro-message > h3{
	color: rgba(37,183,159,0.7);
}

.intro-divider{
	width: 800px;
	border-top: 1px solid #f8f8f8;
}

.row-content
{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}